.app-grid {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(0, 2fr);
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
}


.bottom-left {
    grid-column: 1;
    grid-row: 2;
    overflow-y: auto;
}

.top-right {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 10px;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
    overflow-y: auto;
}

